/* The container for the custom checkbox */
.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* Hide the default browser checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* The custom checkbox icon container */
.checkbox-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: gray;
}

/* Styling for the check icon (hide it by default) */
.checkbox-icon img {
  display: none;
  width: 50%;
  height: 50%;
  object-fit: contain;
  border-radius: 50%;
}
.checkbox-input:checked + .checkbox-icon {
  background-color: #5cb85c; /* Background color when checked */
}
/* When the checkbox is checked, display the check icon */
.checkbox-input:checked + .checkbox-icon img {
  display: flex;
  background-size: 100%;
}
