/* The container for the custom checkbox */
.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* Hide the default browser checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* The custom checkbox icon container */
.checkbox-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid hsl(233, 14%, 35%);
  margin: 0;
  padding: 0;
}

/* .checkbox-icon:hover {
  border: ;
} */

/* Styling for the check icon (hide it by default) */
.checkbox-icon img {
  display: none;
  width: 50%;
  height: 50%;
  object-fit: contain;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.checkbox-input:checked + .checkbox-icon {
  background-image: linear-gradient(
    to bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  ); /* Background color when checked */
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}
/* When the checkbox is checked, display the check icon */
.checkbox-input:checked + .checkbox-icon img {
  display: block;
  background-size: 100%;
  padding: 0;
  margin: 0;
}
