.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  z-index: 22;
  color: hsl(234, 39%, 85%);
}
.App h1 {
  color: hsl(0, 0%, 98%);
  letter-spacing: 20px;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35vw;
  background-color: hsl(0, 0%, 98%);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px 0px;
  background-color: hsl(235, 24%, 19%);
}
.input-design {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid hsl(233, 14%, 35%);
  margin-left: 15px;
}
.input-container input {
  width: 25vw;
  padding: 10px 10px;
  border: none;
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}
.input-container input:focus {
  border: 1px solid hsl(233, 11%, 84%);
  outline: none;
}
.add-btn {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}
.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  border-top: 1px solid hsl(237, 14%, 26%);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: hsl(235, 24%, 19%);
  border-radius: 5px;
}
.list :hover {
  color: hsl(236, 33%, 92%);
}
.main-list {
  background-color: hsl(235, 24%, 19%);
  border-radius: 5px;
  padding: 0px;
  margin: auto;
  width: 35vw;
  position: relative;
}
.delete-btn {
  height: 10px;
  position: absolute;
  right: 25px;
  cursor: pointer;
  display: none;
}
.list:hover .delete-btn {
  display: block;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid hsl(237, 14%, 26%);
  color: hsl(236, 9%, 61%);
  padding: 15px 10px;
}
.mobile-filter-buttons {
  display: none;
}
.filter-buttons button,
.clear-completed {
  border: none;
  background: none;
  cursor: pointer;
  color: hsl(236, 9%, 61%);
  font-weight: 500;
  font-size: 12px;
}
.filter-buttons button {
  font-weight: 550;
}
.filter-buttons :hover,
.clear-completed:hover {
  color: hsl(236, 33%, 92%);
}
.items-left {
  font-size: 10px;
  font-weight: 400;
}
.drag-text {
  color: hsl(233, 14%, 35%);
  font-weight: 700;
  font-size: small;
  margin: 50px 0px;
}
/* .checkbox-input:checked .list {
  font-size: 100px;
} */

@media only screen and (max-width: 960px) {
  .main-list,
  .input-container {
    width: 50vw;
  }
  .delete-btn {
    display: block;
  }
}
@media only screen and (max-width: 850px) {
  .main-list,
  .input-container {
    width: 70vw;
  }
  .input-container input {
    width: 55vw;
  }
}
@media only screen and (max-width: 767px) {
  .main-list,
  .input-container {
    width: 80%;
  }
}
@media only screen and (max-width: 520px) {
  .main-list,
  .input-container {
    width: 90%;
  }
  .mobile-filter-buttons {
    display: block;
    background-color: hsl(235, 24%, 19%);
    width: 90vw;
    margin: 20px 0;
    padding: 15px 0;
    text-align: center;
  }
  .mobile-filter-buttons button {
    border: none;
    background: none;
    cursor: pointer;
    color: hsl(236, 9%, 61%);
    font-weight: 500;
    font-size: 12px;
    margin: 0px 15px;
  }
  .filter-buttons {
    display: none;
  }
  .buttons {
    justify-content: space-between;
    padding: 15px 20px;
  }
}
